@if (file) {
  <mat-tab-group mat-stretch-tabs="false"
                 mat-align-tabs="start"
                 class="editor-tabs">
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="tab-label" [title]="file.path">
          <mat-icon class="file-icon">description</mat-icon>

          <span class="file-name">
            {{ file.dirty() ? '• ' : '' }}{{ file.name }}
          </span>

          <button class="close-button"
                  type="button"
                  (click)="closeFile($event, file)">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
}

<div class="editor-content" [hidden]="file === null">
  <ngx-monaco-editor class="monaco" (onInit)="initialized.emit($event)"/>
</div>

@if (!file) {
  <div class="empty">
    <mat-icon>code</mat-icon>
    <span>Open a file to start editing.</span>
  </div>
}
