main {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
  overflow: hidden;

  mat-toolbar {
    flex: 0 0 auto;
    padding-left: 1px;
  }

  section#output {
    flex: 1 1 auto;
    min-height: 0;
    overflow: auto;
  }

  code {
    padding-left: 15px;
  }
}

