<!--suppress AngularForBlockNonIterableVar -->
<main>
  <h4 class="title">Explorer</h4>
  <section id="output">
    @if (context.dataSource) {
      <mat-tree #tree [dataSource]="context.dataSource" [childrenAccessor]="childrenAccessor">
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding [matTreeNodePaddingIndent]="15" class="tree-node">
          <span class="toggle-spacer"></span>
          <mat-icon class="node-icon">
            description
          </mat-icon>
          <span class="node-label">
            {{ node.name }}
          </span>
        </mat-tree-node>

        <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding
                       [matTreeNodePaddingIndent]="15" matTreeNodeToggle
                       class="tree-node" [cdkTreeNodeTypeaheadLabel]="node.name">

          <button matIconButton disabled class="toggle-button" matTreeNodeToggle
                  [attr.aria-label]="'Toggle ' + node.name">
            <mat-icon>{{ tree.isExpanded(node) ? 'expand_more' : 'chevron_right' }}</mat-icon>
          </button>

          <mat-icon class="node-icon">
            {{ tree.isExpanded(node) ? 'folder_open' : 'folder' }}
          </mat-icon>

          <span class="node-label">
            {{ node.name }}
          </span>
        </mat-tree-node>
      </mat-tree>
    }
  </section>
</main>
