<main>
  <mat-toolbar>
    <span class="title">Explorer</span>
  </mat-toolbar>
  <section id="output">
    @if (context.files()) {
      <mat-tree #tree [dataSource]="context.files()" [childrenAccessor]="childrenAccessor">
        <mat-tree-node class="tree-node" *matTreeNodeDef="let node" matTreeNodePadding
                       [matTreeNodePaddingIndent]="15" (dblclick)="openFile($event, node)">
          <span class="toggle-spacer"></span>
          <mat-icon class="node-icon">
            description
          </mat-icon>
          <span class="node-label">
            {{ node.name }}
          </span>
        </mat-tree-node>

        <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding
                       [matTreeNodePaddingIndent]="15" matTreeNodeToggle
                       class="tree-node" [cdkTreeNodeTypeaheadLabel]="node.name"
                       (expandedChange)="onExpandedChange(node, $event)">

          <button matIconButton disabled class="toggle-button" matTreeNodeToggle
                  [attr.aria-label]="'Toggle ' + node.name">
            <mat-icon>{{ tree.isExpanded(node) ? 'expand_more' : 'chevron_right' }}</mat-icon>
          </button>

          <mat-icon class="node-icon">
            {{ tree.isExpanded(node) ? 'folder_open' : 'folder' }}
          </mat-icon>

          <span class="node-label">
            {{ node.name }}
          </span>
        </mat-tree-node>
      </mat-tree>
    }
  </section>
</main>
