<main #ide class="ide"
      [class.t1-open]="t1View !== undefined"
      [class.t2-open]="t2View !== undefined"
      [style.--t1-width.px]="t1Width"
      [style.--t2-height.px]="t2Height">

  <aside class="activity-bar">
    <div class="toolbar toolbar-top">
      @for (view of side; track view.id) {
        <button mat-icon-button
                [class.active]="t1View?.id === view.id"
                (click)="toggleT1View(view)">
          <mat-icon>{{ view.icon }}</mat-icon>
        </button>
      }
    </div>

    <div class="toolbar toolbar-bottom">
      @for (view of bottom; track view.id) {
        <button mat-icon-button
                [class.active]="t2View?.id === view.id"
                (click)="toggleT2View(view)">
          <mat-icon>{{ view.icon }}</mat-icon>
        </button>
      }
    </div>
  </aside>

  @if (t1View !== undefined) {
    <section class="t1-window">
      <div class="tool-window">
        <div class="tool-window-header">{{ t1View?.label }}</div>
        <ng-container *ngComponentOutlet="t1View!.view"/>
      </div>
    </section>
  }

  <div class="vertical-resizer" (pointerdown)="startT1Resize($event, ide)"></div>

  <main class="editor">
    <div class="editor-tabs">
      <div class="editor-tab">
        main.clc
      </div>
    </div>

    <div class="editor-content">
      <ngx-monaco-editor class="monaco" [options]="editorOptions" [(ngModel)]="code"/>
    </div>
  </main>

  <div class="horizontal-resizer" (pointerdown)="startT2Resize($event, ide)"></div>

  @if (t2View !== undefined) {
    <section class="t2-window">
      <div class="tool-window">
        <div class="tool-window-header">{{ t2View?.label }}</div>
        <ng-container *ngComponentOutlet="t2View!.view"/>
      </div>
    </section>
  }
</main>
