<main #ide class="ide"
      [class.left-view-open]="leftView() !== undefined"
      [class.right-view-open]="rightView() !== undefined"
      [class.bottom-view-open]="bottomView() !== undefined"
      [style.--left-view-width.px]="leftViewWidth"
      [style.--right-view-width.px]="rightViewWidth"
      [style.--bottom-view-height.px]="bottomViewHeight">

  <aside class="activity-bar">
    <div class="toolbar toolbar-top">
      @for (view of leftViews; track view.id) {
        <button mat-icon-button [title]="view.alt"
                [class.active]="leftView()?.id === view.id"
                class="small-icon-button"
                (click)="toggleLeftView(view)">
          <mat-icon>{{ view.icon }}</mat-icon>
        </button>
      }
    </div>

    <div class="toolbar toolbar-bottom">
      @for (view of bottomViews; track view.id) {
        <button mat-icon-button [title]="view.alt"
                [class.active]="bottomView()?.id === view.id"
                class="small-icon-button"
                (click)="toggleBottomView(view)"
                [matBadge]="view.badge?.()"
                [matBadgeHidden]="view.badge === undefined || view.badge() === 0">
          <mat-icon>{{ view.icon }}</mat-icon>
        </button>
      }
    </div>
  </aside>

  @if (leftView() !== undefined) {
    <section class="left-view-window">
      <div class="tool-window">
        <ng-container *ngComponentOutlet="leftView()!.view"/>
      </div>
    </section>
  }

  <div class="vertical-resizer" (pointerdown)="startLeftViewResize($event, ide)"></div>

  <main class="editor">
    @if (file) {
      <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" class="ide-tabs">
        <mat-tab>
          <ng-template mat-tab-label>
            <div class="tab-label" [title]="file.path">
              <mat-icon class="file-icon">description</mat-icon>
              <span class="file-name">
                {{ file.dirty() ? '• ' : '' }}{{ file.name }}
              </span>
              <button class="close-button" type="button" (click)="closeFile($event, file)">
                <mat-icon>close</mat-icon>
              </button>
            </div>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    }

    <div class="editor-content" [hidden]="file == null">
      <ngx-monaco-editor class="monaco" (onInit)="onInit.emit($event)"/>
    </div>

    @if (!file) {
      <div class="empty">
        <mat-icon>code</mat-icon>
        <span>Open a file to start editing.</span>
      </div>
    }
  </main>

  <div class="right-view-resizer"
       (pointerdown)="startRightViewResize($event, ide)">
  </div>

  @if (rightView() !== undefined) {
    <section class="right-view-window">
      <div class="tool-window">
        <ng-container *ngComponentOutlet="rightView()!.view"/>
      </div>
    </section>
  }

  <div class="right-activity-bar">
    <div class="toolbar">
      @for (view of rightViews; track view.id) {
        <button mat-icon-button
                [title]="view.alt"
                [class.active]="rightView()?.id === view.id"
                class="small-icon-button"
                (click)="toggleRightView(view)">
          <mat-icon>{{ view.icon }}</mat-icon>
        </button>
      }
    </div>
  </div>

  <div class="horizontal-resizer" (pointerdown)="startBottomViewResize($event, ide)"></div>

  @if (bottomView() !== undefined) {
    <section class="bottom-view-window">
      <div class="tool-window">
        <ng-container *ngComponentOutlet="bottomView()!.view"/>
      </div>
    </section>
  }
</main>
